body{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    color: #000;
    height: 5500px;
}

h1 span{
    color: linear-gradient(135deg, #5CDFF1 -10.77%, #48FBAE 104.37%);
}

.hero{
    background-image: url('img/background-image.png');
    height: 685px;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1100px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}

.main-nav li {
	display: inline;
}

.main-nav a {
	display: inline-block;
	padding: .5em 1em;
}

.main-nav li a{
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 500;
}

@media (min-width: 960px) {
	.main-header .container {
		justify-content: space-between;
	}
}

.cta-contact{
    text-decoration: none;
    color: rgba(255,255,255,1);
    padding: 10px 15px;
    background: linear-gradient(135deg, #29B760 0%, #0DB5F2 100%);
    font-size: 14px;
    font-weight: 500;
}

.container-body{
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    color: rgba(255,255,255,1);
}

.hero-content{
    margin-top: 8%;
}

h1{
    font-size: 46px;
    font-weight: 500;
    line-height: 69px;
}

.subheading-hero{
    width: 644px;
    max-width: 100%;
}

.features-body{
    background: linear-gradient(92.78deg, #222332 -1.83%, #06060D 100%);
}

.features{
    text-align: center;
    display: inline-block;
    padding: 40px 20px;
    margin: 0 7%;
}

.features p{
    font-size: 16px;
    font-weight: 600;
    width: 160px;
}

.text-center{
    text-align: center;
}

h3{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.about{
    margin-top: 8%;
}

.about div{
    display: inline-block;
    vertical-align: top;
}

.about p{
    color: #000;
    width: 500px;
    max-width: 100%;
    margin-top: 10px;
}

.about .content{
    margin: 24px 0 0 30px;
}

h2{
    font-size: 40px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 0;
}

.subheading{
    color: rgba(0,0,0,1);
    text-align: center;
    margin-bottom: 4%;
    margin-top: 0;
}

h4{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0,0,0,1);
    margin: 0;
    text-align: left;
}

.approach{
    display: inline-block;
    margin: 0 20px;
}

.approach p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,1);
    margin: 0;
    text-align: left;
}

.approach div{
    display: inline-block;
    vertical-align: middle;
}

.approach div:nth-child(2){
    margin-left: 8px;
    width: 210px;
    max-width: 100%;
}

.margin-auto{
    margin: 0 auto;
    text-align: center;
}

.mvp{
    margin-top: 8%;
}

.inline-block{
    display: inline-block;
    vertical-align: top;
}

.number{
    width: 40px;
    height: 40px;
    left: 612px;
    top: 1910px;
    background: #232323;
    transform: rotate(-45deg);
    text-align: center;
}

.number .text{
    transform: rotate(45deg);
    display: inline-block;
    margin: 7px 0 0 0px;
    font-weight: 600;
}

.stick{
    width: 6px;
    height: 620px;
    display: block;
    background-color: #232323;
    margin: 0 auto;
}

.mvp-content{
    width: 480px;
    max-width: 100%;
}

h5{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.subdued{
    color: rgba(0,0,0,.3);
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
}

.mvp-des{
    color: #000;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}

.margin-10{
    margin: 0 10px;
}

.text-right{
    text-align: right;
}

.absolute{
    position: absolute;
}

.our-team{
    display: inline-block;
    border: 1px solid rgba(0,0,0,.3);
    padding: 40px;
}

.our-team div{
    display: inline-block;
    vertical-align: top;
}

.team-detail{
    width: 336px;
    max-width: 100%;
    margin-left: 30px;
}

.name{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.position{
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    color: rgba(0,0,0,.5);
    margin: 0;
}

.experience{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-top: 10px;
    margin-bottom: 0;
}

input{
    display: block;
    box-sizing: border-box;
    width: 482px;
    height: 64px;
    background: #FFFFFF;
    border: 2px solid #000000;
    margin: 0 auto 20px;
    padding: 0 0 0 20px;
}

textarea{
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    width: 482px;
    height: 158px;
    background: #FFFFFF;
    border: 2px solid #000000;
    padding: 0 0 0 20px;

}

textarea::-webkit-input-placeholder { /* Edge */
    color: rgba(0,0,0,.5);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
  
textarea:-ms-input-placeholder { /* Internet Explorer */
    color: rgba(0,0,0,.5);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
  
textarea::placeholder {
    color: rgba(0,0,0,.5);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

::-webkit-input-placeholder { /* Edge */
    color: rgba(0,0,0,.5);
    font-size: 16px;
    font-weight: 500;
}
  
:-ms-input-placeholder { /* Internet Explorer */
    color: rgba(0,0,0,.5);
    font-size: 16px;
    font-weight: 500;
}
  
::placeholder {
    color: rgba(0,0,0,.5);
    font-size: 16px;
    font-weight: 500;
}